
@if(isOpened){
<div
  class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
  <div class="bg-white rounded-lg shadow-lg w-1/2">
    <div class="p-4 border-b flex justify-between">
      <div>

        <h3 class="text-lg font-medium text-gray-700">{{ title }}</h3>
        <small>
          <p class="text-gray-500">All <span
              class="text-red-500">*</span>
            fields are required</p>
        </small>
      </div>
      <button (click)="onClose()" class="text-gray-500 hover:text-gray-700">
        ✖
      </button>
    </div>
    <!-- <div class="p-4"> -->
    <ng-content>
      <!-- main body -->
      <div class="max-w-7xl mx-auto mt-3">
        <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
          <form>
            <div class="grid grid-cols-1 sm:grid-cols-2">
              <div>
                <div class="px-6">
                  <div class="mb-4">
                    <label for="title"
                      class="block text-gray-700 text-sm font-bold mb-2">
                      Title <span class="text-red-500">*</span>
                    </label>
                    <input type="text" name="title" id="title"
                      class="form-input rounded-md shadow-sm mt-1 block w-full"
                      placeholder="Enter title">
                  </div>
                  <!-- Subtitle -->
                  <div class="mb-6">
                    <label for="title"
                      class="block text-gray-700 text-sm font-bold mb-2">
                      Subtitle <span class="text-red-500">*</span>
                    </label>
                    <input type="text" name="subtitle" id="subtitle"
                      class="form-input rounded-md shadow-sm mt-1 block w-full"
                      placeholder="Enter subtitle">
                  </div>
                  <div class="mb-4">
                    <label for="description"
                      class="block text-gray-700 text-sm font-bold mb-2">
                      Description <span class="text-red-500">*</span>
                    </label>
                    <textarea name="description" rows="4" id="description"
                      class="form-input rounded-md shadow-sm mt-1 block w-full"
                      placeholder="Enter description"></textarea>
                  </div>
                </div>
              </div>
              <div>
                <div class="m-2 flex justify-center items-center">
                  <div
                    class="w-[90%] sm:w-[60%] relative border-2 border-gray-300 border-dashed rounded-lg p-6"
                    id="dropzone">
                    <input type="file"
                      class="absolute inset-0 w-full h-full opacity-0 z-50"
                      id="imageUpload" accept=".png"
                      (change)="onFileSelected($event)" />
                    <div class="text-center">
                      <img class="mx-auto h-12 w-12"
                        src="https://www.svgrepo.com/show/357902/image-upload.svg"
                        alt="Upload Image">
                      <h3 class="mt-2 text-sm font-medium text-gray-900">
                        <label for="file-upload"
                          class="relative cursor-pointer">
                          <span>Drag and drop</span>
                          <span class="text-indigo-600"> or browse</span>
                          <span>to upload</span>
                          <input id="file-upload" name="file-upload"
                            type="file"
                            class="sr-only" accept=".png"
                            (change)="onFileSelected($event)">
                        </label>
                      </h3>
                      <p class="mt-1 text-xs text-gray-500">
                        Upload PNG only and 24x24 size
                      </p>
                    </div>
                  </div>
                </div>
                <div
                  class="flex items-center justify-center gap-2 px-4 mt-3"
                  id="imagePreviewContainer">
                  @if(previewUrl.uploadResult.url){
                  <img src="{{previewUrl.uploadResult.url}}" alt srcset
                    class="w-20 h-20">
                  }
                </div>
                <input type="hidden" id="imageUrls" name="imageUrls">
              </div>
            </div>
            <div class="mb-4 flex justify-end items-end space-x-2 px-5">
              <button
                (click)="onClose()"
                type="button"
                class="py-2.5 px-5 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700">
                Close
              </button>
              <button type="submit"
                class="py-2.5 px-5 text-sm font-medium text-white bg-blue-700 rounded-lg hover:bg-blue-800">
                Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </ng-content>
    <!-- </div> -->

  </div>
</div>
}
